@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Tema claro
#022144 = Azul escuro
#fafbfc = meio branco
#32333c = cinza escuro
#f6f8fc = meio branco
#8a8fa3 = cinza claro
#CCCCCC
#FFFFFF = branco
#feb633 
*/

/* Tema Escuro
#022144 = Azul escuro
#fafbfc = meio branco
#CCCCCC
#747272
#f6f8fc
#393838 = cinza escuro
#252525 = cinza mais escuro
#feb633 = cinza menos escuro 
*/
